.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: #1890ff;
    }
}

.header {
    background: #fff;
    padding: 0;
}
.content {
    margin: 15px;
    position: relative;
    .container {
        background-color: #fff;
        padding: 10px;
        position: 'absolute';
        width: 100%;
    }
}